%header.navbar.navbar-fixed-top
    %section.navbar-inner
        %section.container
            = link_to "Vocabulary Builder", root_path, id: 'logo'
            %nav
                %ul.nav.pull-right
                    %li= link_to "Home", root_path
                    %li= link_to "Help", help_path
                    %li= link_to "Sign in", '#'
